.TB-Chat{
    width: 100%;
    background-color: rgb(35, 18, 44);
    height: 100%;
    display: flex;
}

.Chat-Channel{
    width: 100%;
    background-color: rgb(27, 2, 41);
    height: 100%;
}

.Chat-Participantes{
    height: 100%;
    width: 28%;
    background-color: rgb(22, 3, 34);
}

.Chat-Opciones{
    height: 100%;
    width: 9%;
    background-color: rgb(18, 4, 28);
}

.Chat-Content{
    position: relative;
    width: 100%;
}

.Chat-Input{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.Chat-Input input{
    background-color: inherit;
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-bottom-width: 2px;
    width: 95%;
}

.Chat-Decorator{
    background-color: rgb(44, 13, 61);
    padding: 15px;
    border-radius: 5px;
}

.Chat-Input input:focus{
    outline: none;
    border-block-color: rgb(140, 136, 136);
}


.Chat-Title{
    padding: 10px;
    padding-left: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(85, 78, 89);
    transition: 0.2s;
    font-weight: bold;
    font-size: 21px;
    color: rgb(1, 189, 101);
}

.Chat-Title:hover{
    background-color: rgb(38, 6, 58);
    cursor: pointer;
}

.Chat-Participante{
    padding: 5px;
    padding-left: 25px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.Chat-Participante:hover{
    background-color: rgb(29, 4, 53);
    cursor: pointer;
}

.Chat-Participante img{
    border-radius: 50%;
    width: auto;
    height: 36px;
    margin-right: 10px;
}