@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


.Notices{
    display: flex;
    padding: 25px;
}

.Publication{
    display: flex;
    flex-direction: column;
    background-image: url("https://bnetcmsus-a.akamaihd.net/cms/blog_header/kd/KD50BBXYHMBR1554829677265.jpg");
    height: 200px;
    width: 450px;
    box-shadow: 10px 5px 5px black;
    border-bottom: white 2px;
    border-bottom: 5px solid rgb(165, 147, 147);
    font-family: 'Inconsolata', monospace;
    color: white;
    background-size: cover;
    transition: 0.5s;
    overflow: hidden;
    justify-content: flex-end;

}

.Publication:hover{
    border-bottom-color: rgb(68, 100, 16);
    transform: scale(1.02);
    cursor: pointer;
}


.Publication-titulo{
    font-size: 25px;
    font-weight: bold;
}




.Publication-fecha{
    font-size: 20px;
    color: rgb(143, 156, 169);
}

.Publication-just{
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    overflow: hidden;
    height: 95px;
    padding: 25px;
}

.Publication:hover .Publication-just{
    background-color: rgba(0, 0, 0, 0.6);
    height: 220px;
}